body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
}

.calculator {
    background: #000;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.display {
    background: #444;
    color: #fff;
    text-align: right;
    padding: 20px;
    font-size: 2em;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.button {
    border: 1px solid #888;
    padding: 20px;
    font-size: 1.5em;
    color: #fff;
    cursor: pointer;
}

.button.zero {
    grid-column: span 2;
}

.button.function {
    background: #a5a5a5;
}

.button.operator {
    background: #fe9500;
}

.button.operator.equals {
    background: #fe9500;
    grid-row: span 2;
}

.button:active {
    opacity: 0.8;
}
